[submodule "deps/ffgl"]
	path = deps/ffgl
	url = git@github.com:resolume/ffgl.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/imgui/imgui"]
	path = deps/imgui/imgui
	url = git@github.com:ocornut/imgui.git
